@model Nurgül_Eylül_Aydoğan_201103046.DAL.Cozumler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cozumler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.resimyolu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resimyolu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bilgi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bilgi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslik)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
