@model Nurgül_Eylül_Aydoğan_201103046.DAL.Kurumsal
@{
    ViewBag.Title = "Kurumsal";
}
<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.baslik</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <aside class="sidebar">
                <ul class="nav nav-list primary push-bottom">
                    @foreach (var item in ViewBag.Kurumsal)
                    {
                        <li><a href="@Url.Action("Kurumsal","Home",new {id=item.baslik})">@item.baslik</a></li>

                    }
                    
                    @*<li><a href="@Url.Action("Kurumsal","Home")">Misyon</a></li>
                    <li><a href="@Url.Action("Kurumsal","Home")">Vizyon</a></li>*@

                </ul>
            </aside>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        <span id="icerik_lblVizyon"></span>
                    </p><p>
                        <span style="font-family:tahoma,geneva,sans-serif;"><span style="font-size:14px;"><big>&nbsp; &nbsp;@Model.icerik</big></span></span>
                    </p>

                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

